:root {
  --fontirs: irs;
  --fontbahman: bahman;
  --fontlale: lale;
  --fontaviny: aviny;
  --color1: #04aa6d;
  --color2: #6528e0;
  --color3: rgb(7 112 112);
  --color4: rgb(23, 240, 23);
  --color5: #0c0025;
  --color6: rgb(1, 1, 54);
  --color7: #171615;
  --color8: #1d1615;
  --color9: #20211a;
  --color10: #141514;
  --color11: #0f0616;
  --color12: #292827;
  --glasswhite: rgba(255, 255, 255, 0.5);
  --bg-light: #eee;
  --bg-dark: #444;
  --bg-dark-2: #151515;
}
@font-face {
  font-family: irs;
  src: url(IRANSansWeb_Bold.ttf);
}

@font-face {
  font-family: lale;
  src: url(Lalezar-Regular.ttf);
}

@font-face {
  font-family: bahman;
  src: url(Bahman\ 1.ttf);
}

@font-face {
  font-family: aviny;
  src: url(aviny.ttf);
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  background-color:white;
  font-family: var(--fontirs);
}

@media (min-width: 300px) {
  #nav-bar {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    /* background-color: white; */
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    flex-direction: row !important;
    position: fixed;
    width: 100%;
    /* transform: translateY(183%); */
    bottom: 0;
  }
  .home-icon {
    width: 9%;
  }
  .user-icon {
    width: 9%;
  }
  .cart-icon {
    width: 9%;
  }
  .categories-icon {
    width: 9%;
  }
  .icons {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    flex-direction: row !important;
    direction: rtl;
  }
  #form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid white;
    margin: 2%;
    border-radius: 10px;
    background-color: black;
    color: white;
    height: 50vh;
  }
  h1{
    font-size: 25px;
    text-align: center;
  }
  input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130%;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: -15%;
    color: black;
  }
  #submitBtn{
    width: 50%;
  }
  #nav-res{
    display: none;
  }
}

/* responsive*/

@media(min-width:700px){
  #nav-bar {
    display: none;
    /* display: flex;
    justify-content: space-around !important;
    align-items: center;
    /* background-color: white; */
  }
  #nav-res {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2%;
    z-index: 1000;
    flex-direction: row;
    color: black;
    font-family: var(--fontirs);
    width: 86%;
    position: fixed;
    margin: 2%;
    right: 5%;

  }
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    /* margin: 2%; */
    padding: 10px 20px;
    overflow: hidden;
    background-color: red;
    width: 100%;
    position: fixed;
    margin: 2%;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: right;
  }

  li a:hover {
    opacity: 0.5;
    background-color: white;
    color: black;
    border-radius: 10px;
  }
  .home-icon {
    width: 9%;
  }
  .user-icon {
    width: 9%;
  }
  .cart-icon {
    width: 9%;
  }
  .categories-icon {
    width: 9%;
  }
  img:hover{
    transform: scale(1.1);
  }
  #form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 10px 20px;
    border: 2px solid white;
    margin: 2%;
    border-radius: 10px;
    background-color:  black;
    color: white;
    height: 60vh;
  }
  h1{
    font-size: 25px;
    text-align: center;
  }
  input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130%;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: -15%;
  }
  #submitBtn{
    width: 50%;
  }
  input{
    width: 250%;
    margin-left: -70%;
    color: black;
  }
  input:focus{
    outline: none;
    border: 3px solid var(--color2);
  }
}